<app-navbar (toggleMenu)="toggleMenu()"></app-navbar>


<md-sidenav-container >
  <md-sidenav [mode]="mode" [opened]="sideMenuShow" [ngClass]="{'side-nav-icons-only':sideNavIconsOnly,'side-nav-icons-full':!sideNavIconsOnly }">
    <md-list>
      <md-list-item *ngFor="let item of sideNavLinks">
        <md-icon mdListIcon>{{item.icon}}</md-icon>
        <ng-container *ngIf="!sideNavIconsOnly">{{item.title}}</ng-container>
      </md-list-item>

    </md-list>
  </md-sidenav>
  <div class="my-content">
    <app-home></app-home>

  </div>
</md-sidenav-container>


